
.textdiv{
    transform: translate(0%,-50%);
    max-width:50%;
  right: 20%;
    position: fixed;
    top:90%;
    border:2px solid rgba(255, 255, 255, 0.021);
    background-color: honeydew;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(97, 94, 94, 0.781);
z-index: 100;
}

.textdiv h3{
    margin: 3%;
}



.speak{
    background-color: #87cefa;
    outline:none;
    position: fixed;
    border:10px solid rgba(255, 255, 255, 0);
    border-radius:50px;
    width:80px;
    height: 80px;
 right:0%;
 top:90%;
 z-index: 100;
 color: white;
transform: translate(-50%,-50%);
box-shadow: 2px 2px 10px 2px #69bff5;


}

.speakclick{
    background-color: #87cefa;
    outline:none;
    position: fixed;
    border:10px solid rgba(255, 255, 255, 0);
    border-radius:50px;
    height: 80px;
    right:0%;
 width:80px;
 top:90%;
 z-index: 10;
transform: translate(-50%,-50%);
box-shadow: 2px 2px 10px 2px #69bff5;
-moz-animation: butani 3s ease-in-out 5;
-webkit-animation: butani 1s  ease-in-out 5 ;
-o-animation:butani 3s ease-in-out 5 ;
animation: butani 3s  5;
animation-direction: alternate-reverse;
z-index: 100;
} 
.speak:hover{
    background-color: rgb(110, 205, 243);
}
.stop{
    position: fixed;
    z-index: 10;
    left:2%;
    top:80%;
    outline: none;
    border:2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: red;
    color:white;
    height:2.5em;
    box-shadow: 2px 2px 5px rgb(245, 26, 161);
}
.stop:hover{
    background-color: rgb(100, 11, 11);
} 
@media only screen and (max-width:425px)
{
    .textdiv{
    top: 80%;
    left: 0%;
  
    }
    .speak{
        left:50%;
    }
    .speakclick{
        left:50%;
    }
} 
@-moz-keyframes butani{
    from{
        box-shadow: 2px 2px 10px 2px #69bff5;

    }
    to{
        box-shadow: 0px 5px 10px 5px #5ebdf8;
    }
}
   
@-webkit-keyframes butani{
        from{
            box-shadow: 2px 2px 10px 2px #374650;
    
        }
        to{
            box-shadow: 0px 5px 10px 5px #1352ff;
        }
    }
    @-o-keyframes butani{
        from{
            box-shadow: 2px 2px 10px 2px #69bff5;
    
        }
        to{
            box-shadow: -5px 5px 10px 5px #0da1fd;
        }
    }
    @keyframes butani{
        from{
            box-shadow: 2px 2px 10px 2px #69bff5;
    
        }
        to{
            box-shadow: 0px 0px 10px 8px#69bff5;
        }
    }

